<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teleport.fwoj_backend.mapper.annMapper">

    <!--查询公告列表(页数,每页几条)-->
    <select id="getAnnList" resultType="ann">
    select * from onlinejudge.announcement limit #{start},#{num}
   </select>

    <!--查询公告总数-->
    <select id="getAnnSum" resultType="int">
    select count(*) from onlinejudge.announcement
   </select>

    <!--    按id查询公告详情-->
    <select id="getAnnDetail" resultType="ann">
        select * from onlinejudge.announcement where id=#{id}
    </select>

</mapper>
