<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teleport.fwoj_backend.mapper.problemMapper">

    <!--查询列表(页数,每页几条)-->
    <select id="getProblemList" resultType="problem">
    select id,title,acSubmit,totalSubmit from onlinejudge.problem  where visible='1' order by id desc limit #{start},#{num}
   </select>
    <!--查询总数-->
    <select id="getProblemSum" resultType="int">
    select count(id) from onlinejudge.problem where visible='1'
   </select>
    <!--查询总数(Admin)-->
    <select id="getProblemSumAdmin" resultType="int">
    select count(id) from onlinejudge.problem
   </select>
    <!--    按id查询详情-->
    <select id="getProblemDetail" resultType="problem">
        select * from onlinejudge.problem where id=#{id}
    </select>


<!--    //获取问题列表(Admin) id title createTime visible authorName-->
    <select id="getProblemListAdmin" resultType="problem">
    select id,title,createTime,visible,authorName from problem where title like "%"#{key}"%" order by id desc limit #{start},#{num}
   </select>

    <!--    根据id查询问题visibile-->
    <select id="getProblemVisibleById" resultType="int">
        select visible from problem where id=#{id}
    </select>
    <!--    根据id设置问题visibile-->
    <update id="setProblemVisibleById" parameterType="problem">
        update problem set visible=#{visible} where id=#{id}
    </update>

<!--    根据id删除问题-->
    <delete id="deleteProblemById" parameterType="int">
        delete from problem where id=#{id}
    </delete>

    <!--    添加问题-->
    <!--   title input output inputExample outputExample hint authorName -->
    <insert id="createProblem" parameterType="problem">
        insert into problem(title, des, input, output, inputExample, outputExample, hint, acSubmit, totalSubmit,createTime,authorName,visible)
        values(#{title},#{des},#{input},#{output},#{inputExample},#{outputExample},#{hint},#{acSubmit},#{totalSubmit},#{createTime},#{authorName},#{visible});
    </insert>

<!--   根据id更新问题信息-->
    <update id="editProblem" parameterType="problem">
        update problem set title=#{title},des=#{des},input=#{input},output=#{output},inputExample=#{inputExample},outputExample=#{outputExample},hint=#{hint} where id=#{id};
    </update>



</mapper>
