<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teleport.fwoj_backend.mapper.stateMapper">

    <!--查询列表(页数,每页几条)-->
    <select id="getStateList" resultType="state">
    select state.id,problemId,username as authorName,state.authorId,date,language,state,cast(memoryCost/1024/1024 as decimal(10,0)) as memoryCost,timeCost
    from state,user where authorId=user.id order by date desc limit #{start},#{num}
   </select>
    <!--查询总数-->
    <select id="getStateSum" resultType="int">
    select count(id) from onlinejudge.state
   </select>
    <!--    按id查询详情-->
    <select id="getStateDetail" resultType="state">
    select state.id,problemId,username as authorName,date,language,state,cast(memoryCost/1024/1024 as decimal(10,0)) as memoryCost,timeCost,code
    from state,user where authorId=user.id and state.id=#{id}
    </select>

<!--    插入一条state-->
    <insert id="addState" parameterType="state">
        insert into state (problemId, authorId, date, language, state, memoryCost, timeCost, code)
        values (#{problemId},#{authorId},#{date},#{language},'pd','0','0',#{code});
    </insert>

<!--    查询Pending列表-->
    <select id="getPendingList" resultType="state">
    select id,problemId,authorId,code from state where state='pd';
   </select>

<!--    updateState-->
    <update id="updateState" parameterType="state">
        update state set state=#{state},compileInfo=#{compileInfo} where id=#{id};
    </update>

<!--    setTimeCost-->
    <update id="setTimeCost" parameterType="state">
        update state set timeCost=#{timeCost} where id=#{id}
    </update>

<!--    setMemoryCost-->
    <update id="setMemoryCost" parameterType="state">
        update state set memoryCost=#{memoryCost} where id=#{id}
    </update>

</mapper>
