<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定到Mapper-->
<mapper namespace="com.teleport.dao.problemMapper">

    <!--查询问题列表(页数,每页几条)-->
    <select id="getProblemList" resultType="problem">
    select * from onlinejudge.problem limit #{start},#{num}
   </select>
    <!--查询问题总数-->
    <select id="getProblemSum" resultType="int">
    select count(*) from onlinejudge.problem
   </select>

    <!--    按id查询问题详情-->
    <select id="getProblemDetail" resultType="problem">
        select * from onlinejudge.problem where id=#{id}
    </select>

</mapper>
